/* Seção Contato */
section#contato {
    background-color: #252525;
    padding: 2rem; 
    width: 100%;
    
  }
  
  .titulo>h2 {
    text-align: center;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .contato form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contato .input-group {
    margin-bottom: 15px; 
  }
  
  .contato .input-group-text {
    background-color: #353535;
    color: #f2f2f2; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px 0 0 5px; 
  }
  
  .contato .form-control {
    border-radius: 0 5px 5px 0; 
    border-color: #ccc; 
  }
  
  .contato .input-group-text:nth-child(1) {
    border-radius: 5px 0 0 5px;
  }
  
  /* Área de texto */
  .contato textarea {
    border-radius: 5px; 
  }
  
  .captcha {
    display: flex;
    justify-content: center;
    
  }


  /* Botão de envio */
  .contato button[type="submit"] {
    background-color: #353535;
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-top: 20px;
    width: 100%;
  }

  .contato button[type="submit"]:hover {
    background-color: #181818;
    color: darkorange; 
  }

  
  @media screen and (max-width: 500px) {
  .accordion-body {
    padding: 0;
    
  }
}