/* Seção Contato */
section#contato {
    background-color: #181818;
    padding: 2rem; 
    width: 100%;
    
  }
  
  .contato .titulo h2 {
    text-align: center; 
    font-size: 2rem; 
    margin-bottom: 30px;
    color: #f5f5f5;
  }
  
  .contato form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contato .input-group {
    margin-bottom: 15px; 
  }
  
  .contato .input-group-text {
    background-color: #353535;
    color: #f2f2f2; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px 0 0 5px; 
  }
  
  .contato .form-control {
    border-radius: 0 5px 5px 0; 
    border-color: #ccc; 
  }
  
  .contato .input-group-text:nth-child(1) {
    border-radius: 5px 0 0 5px;
  }
  
  /* Área de texto */
  .contato textarea {
    border-radius: 5px; 
  }
  
  /* Botão de envio */
  .contato button[type="submit"] {
    background-color: #212529;
    color: #fff; 
    border-color: #212529; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-top: 20px; 
  }
  