/*------------- Contato ------------*/

.contato {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 60vh;
    background-color: #181818;
    width: 100%;
}

.contato>.titulo {
    margin-top: 3rem;
    color: #f2f2f2;
    margin-bottom: 1rem;
}

.contato>.outros-canais {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contato>.outros-canais>.lista>ul {
    margin: 0 1rem 0 1rem;
 

}
.contato>.outros-canais>.lista>ul>li{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .3rem;
    background-color: darkorange;
}

.contato>.outros-canais>.lista>ul>li>a{
    color: #181818;
}

.contato>.outros-canais>.lista>ul>li>img{
    width: 1rem;
    margin-right: 1rem;
}

.contato>.formulario {
    margin-right: 2rem;
    display: flex;
    flex-flow: row wrap;
}

.contato>.formulario>.entrada {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.form-email>.entrada>.label-form {
    color: #f2f2f2;

}

.form-email>.entrada>.input-form {
    margin: .5rem 0 1rem 0;
    color: #181818;
    padding: .2rem .2rem .2rem .2rem;
    border-radius: .3rem;
    font-size: 1rem;
    width: 100%;
}

.form-email>.botao {
    text-align: center;
}

.form-email>.botao>.form-botao {
    background-color: darkorange;
    padding: .7rem;
    width: 100%;
    border-radius: .3rem;
}

@media screen and (max-width: 800px) {
    .contato>.outros-canais>.lista>ul {text-align: center;}
    .contato>.outros-canais>.lista>ul>li{
        padding: 1rem 0 1rem 0;
        width: 50vh;
        border-radius: .3rem;
     
    }
    .contato {
        align-items: center;
        height: 100%;
        background-color: #181818;
        width: 100%;
        padding-bottom: 2rem;
    }
    .contato>.outros-canais>.lista {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    
    .contato>.outros-canais>.lista>ul {text-align: center;}

    .contato>.outros-canais>.lista>ul>li{
        padding: 2rem 0 2rem 0;
        width: 40vh;
        border-radius: .3rem;
     
    }

    .contato>.formulario {
        padding: .5rem .5rem .5rem .5rem;
        margin-right: 0;
        display: flex;
        flex-flow: row wrap;
    }
    
    .form-email>.entrada>.input-form {
        margin-bottom: 1rem;
        color: #181818;
        padding:  .2rem 0 .2rem;
        border-radius: .3rem;
        font-size: 1rem;
        width: 90%;
    }

    .form-email {
        text-align: center;
    }

    .form-email>.botao {
        text-align: center;
    }
    
    .form-email>.botao>.form-botao {
        background-color: darkorange;
        padding: .7rem;
        width: 90%;
        border-radius: .3rem;
    }


}