
body {
    background-color: #252525;
    display: flex;
    flex-flow: column;
    align-items: center;

}

/* Inicio */
.inicio {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    height: 80vh;
    width: 80%;
}

.inicio-info {
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio-info>.titulo {
    margin-left: 2rem;
}
.inicio-info>.titulo>h1 {
    color: #f2f2f2;
    size: 1rem;
}
.inicio-info>.subtitulo {
    text-align: left;
    margin-left: 2rem;
}
.inicio-info>.subtitulo>h2 {
    size: 0.7rem;
    color: darkorange;
}

.inicio-info>.texto {
    text-align: justify;
    color: #f2f2f2;
    margin-left: 2rem;
}

.inicio-info>.botao {
    margin-top: 2rem;
    text-align: center;
}
.inicio-info>.botao>a {
    padding: 1rem;
    background-color: darkorange;
    color: #252525;
    border-radius: 0.2rem;

}
.inicio-logo {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}

.inicio-logo>.img>img{
    width: 50vh;
}
/*------------- Projetos ------------*/
.projetos {
    margin-top: 2rem;
    display: flex;
    flex-flow: column wrap-reverse;
    background-color: #181818;
    align-items: center;
    width: 100%;
    
}

.projetos-titulo {
    margin-top: 2rem;
    color: #f2f2f2;
}
.projetos>hr{
    margin-top: 1rem;
    border: #222222 solid 0.1rem;
    width: 80%;
}
.projeto{
    display: flex;
    flex-flow: row wrap;
    margin: 1rem 0 1rem 0;
    justify-content: center;
}

.projeto-esquerda {
    flex-flow: row wrap;
}

.projeto-direita {
    flex-flow: row-reverse wrap;
}
.projeto>.capa{
    display: flex;
    margin-right: 2rem;
    justify-content: space-evenly;
}

.projeto>.capa>img {
    width: 50%;
}
.projeto>.info-projeto {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.projeto>.info-projeto>.info-titulo {
    color: darkorange;
    font-size: 0.8rem;
}
.projeto>.info-projeto>.info-descricao {
    color: #969696;
    font-size: 1rem;
}

.projeto>.info-projeto>.info-stack>ul{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.projeto>.info-projeto>.info-stack>ul>li {
    margin-right: .5rem;
    
}
.projeto>.info-projeto>.info-stack>ul>li>img {
    width: 2rem;
}

.projeto>.info-projeto>.info-repos>ul{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.projeto>.info-projeto>.info-repos>ul>li {
    margin-right: .5rem;
    background-color: darkorange;
    padding: .5rem;
    border-radius: .2rem;
    
    
}
.projeto>.info-projeto>.info-repos>ul>li>a {
    color: #181818;
}


/*------------- Sobre ------------*/
.sobre {
    margin-top: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 50vh;
    width: 60%;
}

.sobre>.titulo>h1{
    color: #f2f2f2;

}

.sobre>.texto>p{
    color: #969696;
    font-size: 1rem;
    line-height: 1.5rem;

}

/*------------- Contato ------------*/

.contato {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100vh;
    background-color: #181818;
    width: 100%;

}

.contato>.titulo {
    margin-top: 3rem;
    color: #f2f2f2;
    margin-bottom: 1rem;
}

.contato>.outros-canais {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contato>.outros-canais>.lista>ul {
    margin: 0 1rem 0 1rem;
 

}
.contato>.outros-canais>.lista>ul>li{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .3rem;
    background-color: darkorange;
}

.contato>.outros-canais>.lista>ul>li>a{
    color: #181818;
}

.contato>.outros-canais>.lista>ul>li>img{
    width: 1rem;
    margin-right: 1rem;
}

.contato>.formulario {
    margin-right: 2rem;
}

#form-email>.label-form {
    color: #f2f2f2;
    padding:  1rem 0 1rem 0;

}

#form-email>.input-form {
    margin: .5rem 0 .5rem 0;
    color: #181818;
    padding: .2rem .2rem .2rem .2rem;
    border-radius: .3rem;
    font-size: 1rem;
    width: 100%;
}

#form-email>.botao {
    text-align: center;
}
#form-email>.botao>.form-botao {
    background-color: darkorange;
    padding: .7rem;
    width: 100%;
    border-radius: .3rem;
    
}