* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    background-color: #252525;
    display: flex;
    flex-flow: column;
    align-items: center;

}

header {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.conteudo {
    width: 80%;
    
}

@media (max-width: 768px) {
    .conteudo {
        width: 100%;
        
    }
}