* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    background-color: #252525;
    display: flex;
    flex-flow: column;
    align-items: center;

}

header {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.conteudo {
    width: 80%;
    
}

@media (max-width: 768px) {
    .conteudo {
        width: 100%;
        
    }
}

#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  #whatsapp-button img {
    width: 30px;
    height: 30px;
  }
  
  #whatsapp-button:hover {
    transform: scale(1.1);
  }
  

