

.inicio {
    padding:  5rem 2rem 5rem 2rem;
    background: #171717;
    width: 100%;
    padding-bottom: 2rem;
    
}

.inicio>.conteudo>.container>.row>.col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.inicio>.conteudo>.container>.row>.col>.titulo>h1 {
    color: darkorange;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}
.inicio>.conteudo>.container>.row>.col>.subtitulo>h2 {
    color: gray;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.inicio>.conteudo>.container>.row>.col>.texto>p {
    color: #f2f2f2;
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.inicio>.conteudo>.container>.row>.col>.botao{
    margin-top: 1rem;
}

.inicio>.conteudo>.container>.row>.col>.botao>a {
    padding: 1rem;
    border-radius: 0.5rem;
    background: darkorange;
    color: #181818;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
}

.inicio>.conteudo>.container>.row>.col>video {
    color: #181818;
    background: #171717;
}


        


