.navbar {
    background-color: #101010;
    /* Cinza Escuro */
    padding: 10px 20px;

}
.navbar-brand {
    color: darkorange;
    font-weight: bold;
}

.navbar-brand:hover {
    color: darkorange;
}
.navbar-toggler {
    border-color: rgb(48, 47, 46);
}
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #e0e1e2;
    /* color: var(--bs-navbar-active-color); */
}

.nav-link {
    color: #e0e1e2;
}

.nav-link:hover,.nav-link.active:hover {
    color: darkorange;
}