
@media screen and (max-width: 980px) {
    .inicio {
        padding: 2rem 0 2rem 0;
    }
    .inicio>.conteudo>.container>.row{
        flex-direction: column-reverse;   
    }
    .inicio>.conteudo {
        width: 100%;
    }


}

@media screen and (max-width: 500px) {
    .inicio {
        padding: 2rem 0 2rem 0;
    }
    .inicio>.conteudo>.container>.row{
        flex-direction: column-reverse;   
    }
    .inicio>.conteudo {
        width: 100%;
    }
}