
/* Seção Projetos */
#projetos {
    background: #252525;
    padding: 50px 0;
}

#projetos h2 {
    text-align: center;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.row {
    margin: 0;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* Cards */
.card {
    margin: 1rem;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Imagens */
.card-img-top {
    margin-top: .5rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    /* Bordas arredondadas na parte superior */
}

/* Conteúdo do Card */
.card-body {
    padding: 20px;
    /* Espaçamento interno do card */
}

.card-title {
    color: darkorange;
    /* Cor do título do card */
    font-weight: 600;
    /* Peso da fonte */
}

.card-text {
    color: #f2f2f2;
    line-height: 1.6;
}

.badge {
    margin-right: 5px;
}

.disponibilizacao {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Botões */
.btn {
    margin-top: 2rem;
    margin-left: .5rem;
    background-color: darkorange;
    color: #181818;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    transition: background-color 0.3s;
    
}

.btn:hover {
    background-color: #181818;
    color: darkorange;
}

/* Estilização Responsiva (Exemplo para tablets e smartphones) */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        /* Cards em coluna */
    }
    .col {
        flex: 1 0 auto;
        /* Distribuir espaço igualmente entre os cards */
        margin-bottom: 20px;
        /* Espaçamento entre cards na vertical */
    }
}