section#sobre {
    background-color: #181818;
    padding: 50px 0;
    width: 100%;
}

.sobre>.conteudo>.titulo>h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #f5f5f5;
}

.sobre>.conteudo>.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: #181818;
}


/* Estilos do Accordion */
.sobre .accordion {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
hr {
    color: #353535;
    
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    
}


.sobre .accordion-item {
    margin-bottom: 15px;
    border-radius: 5px;
    color: #f2f2f2;
    background-color: #181818;
    border: none;
}

.sobre .accordion-button  {
    font-weight: bold;
    padding: 15px 20px;
    /* Espaçamento interno do botão */
    border: none;
    /* Remover borda do botão */
    border-radius: 5px;
    /* Borda arredondada */
    color: #f2f2f2;
    background-color:#181818;
}

.sobre .accordion-button:active,
.sobre .accordion-button:focus,
.sobre .accordion-button:hover {
    color: darkorange;
    outline: none;
}

.sobre .tab-content {
    /* Cor de fundo do conteúdo expandido */
    padding: 15px;
    color: #f2f2f2;
    /* Espaçamento interno do conteúdo */
}

.sobre .accordion-body p {
    text-align: justify; 
    line-height: 1.5;
    
}

.sobre .imagem {
    text-align: center;
    margin-top: 20px;
}

.sobre .imagem button {
    padding: 0;
    border: none;
    background-color: #181818;
}

.sobre .imagem button:hover {
    background-color: none;
}

.sobre .popover-body {
    font-size: 0.8rem;
}

div.col-6.col-sm-2{
    display: flex;
    width: 50%;
    align-items: center;
}

.list-group-item {
    color: #f2f2f2;
    background: none;    
}
@media screen and (max-width: 800px) {
    div.col-6.col-sm-2{
        width: 100%;
    }

    .sobre .container {
        max-width: none;
        margin: 0 auto;
    }
    .conteudo {
        width: 100%;
    }
}