




/*------------- Sobre ------------*/
.sobre {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 60%;
}

.sobre>.titulo>h1{
    color: #f2f2f2;
}

.sobre>.sobre-dados {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;

}

.sobre>.sobre-dados>.texto{
    color: #f2f2f2;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    width: 40%;
}

.sobre>.sobre-dados>.imagem {
    margin-left: 1rem;
    width: 30%;
    align-items: center;
}

.sobre>.sobre-dados>.imagem>img {
    width: 100%;
}


@media screen and (max-width: 1650px) {

}

@media screen and (max-width: 800px) {
    .sobre>.sobre-dados>.imagem {
        width: 100%;
    }
    sobre>.sobre-dados>.texto{
        width: 100%;
    }

}
@media screen and (max-width: 500px) {
    .sobre>.sobre-dados>.imagem {
        width: 100%;
    }
    .sobre>.sobre-dados>.texto {
        width: 100%;
    }

}